body {font-size:14px}
body, h1, h2, h3, h4, h5, h6 {font-family: 'Lato', sans-serif;}
.location-map {background:#113A7E;}
.location-map img {margin:0 auto}

.navbar-brand img {position:absolute; top:0}
.btn-primary {background-color:#e60a7c}
.btn-primary:hover {background-color:#F40D85; cursor:pointer}
.btn-info {background:#2196f3}
.btn-info:hover,.btn-info:active:hover,.btn-info:focus{background-color:#0d87e9}.btn-info:active{background-color:#0d87e9;background-image:-webkit-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);background-image:-o-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);background-image:radial-gradient(circle, #0d87e9 10%, #2196f3 11%);background-repeat:no-repeat;-webkit-background-size:1000% 1000%;background-size:1000%;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.3);box-shadow:2px 2px 2px rgba(0,0,0,0.3)}

.bs-docs-section {margin-bottom:20px}

h1 {
font-size: 45px;
color: #555555;
}

h3 {
line-height: 150%;
font-size:21px
}

h4 {
color: #555555;
}

.no-padding {
padding: 0px !important;
width: 100% !important;
}

.leader-name {
padding-top: 20px;
font-size: 30px;
color: #0d3880;
}

.position {
font-size: 20px;
color: #555555;
padding-bottom:100px;
}

a {
color: #e60a7c;
}

.grey-color {
background-color: #eeeeee;
}

.blue-color {
background-color: #0d3880;
}

.white-title {
color: white;
}

.header-img {
padding-bottom:50px;
padding-top:80px;
}

.img-center {
display: inline !important;
}

.footer {
padding:10px;
}

.left-text {
padding-right: 100px;
}

.top-space{
padding-top: 50px;
}

.bottom-space {padding-bottom: 70px;}
.bottom-top-space {padding-top:70px; padding-bottom:70px}

.box {
height: 300px;
background-color:white;
display: flex;
flex-direction: column;
justify-content: center;
padding:30px;
margin:0px;
border-radius: 3px;
}
.box a {font-size:21px}

.top1 {
height:60%;
display: flex;
flex-direction: column;
justify-content: center;
}
.bottom1 {
height:40%;
}

.img-circle {
width:250px;
}

.map {
width:976px;
height: 1838px;
}

/* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #E71984;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #e60a7c !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #0D3880;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 2px 15px;
    background-color:#f4f4f4;
	font-weight:bold;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

@media (max-width: 768px){

h1 {font-size: 32px;}
h3 {font-size: 18px;}
.box, .top1, .bottom1 {height:auto}
.box {margin-bottom:20px;}
.box a {font-size:14px}
.top1 {margin-bottom:15px}
.bottom1 {line-height:2}
.position {padding-bottom:30px}
.leader-name {margin-bottom:0; line-height:1}

.bottom-top-space {padding-top:40px; padding-bottom:40px}

}

